<mat-card class="example-card btn02" (click)="onclick()">
  <mat-card-title>地図から選ぶ</mat-card-title>
  <img mat-card-image src="https://1.bp.blogspot.com/-5S8rmtezagQ/UnyHakT62TI/AAAAAAAAajc/TsAKmkq0wIE/s800/nihonchizu_area.png">
  <mat-card-content>
    <p>選ぶがよい</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card btn02" (click)="onclick()">
  <mat-card-title>好みから選ぶ</mat-card-title>
  <img mat-card-image src="https://1.bp.blogspot.com/-kDAWFADJuDE/WTX0Pes1RQI/AAAAAAABEmk/4LfRlJwPiCAfdgF1k3mLr3DqO5FrGfaXQCLcB/s800/syugakuryokou_group_kids.png">
  <mat-card-content routerLink="/detail-search">
    <p>選ぶがよい</p>
  </mat-card-content>
</mat-card>
