<div class="title">
  My Place
</div>
<div class="subtitle">
  毎朝この土地で目を覚ましたい<br />~~一生ものの土地と出会おう
</div>
<div class="menuicon">
  <mat-card class="icon" routerLink="/map-search">
    <mat-card-title>地図から探す</mat-card-title>
    <img class="icon-image" mat-card-image src="../../assets/icon/map.png">
  </mat-card>
  <mat-card class="icon" routerLink="/geo-search">
    <mat-card-title>住所から探す</mat-card-title>
    <img class="icon-image" mat-card-image src="../../assets/icon/geo.png">
  </mat-card>
  <mat-card class="icon" routerLink="/favorite-search">
    <mat-card-title>My Place ポイント</mat-card-title>
    <img class="icon-image" mat-card-image src="../../assets/icon/heart.png">
  </mat-card>
</div>