@import url('https://fonts.googleapis.com/css?family=Sacramento');

.menuicon{
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 7em;
    margin-top: 40px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 3em;
    margin: 15px;
}

.icon{
    margin: 3em;
}
.icon:hover{
    cursor: pointer;
}
