@import url('https://fonts.googleapis.com/css?family=Sacramento');

.menuicon{
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 7em;
    margin-top: 40px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 3em;
    margin: 15px;
}

.icon{
    margin: 3em;
    width: 271px;
    height: 271px;   
    text-align: center;
}
.icon:hover{
    cursor: pointer;
}

.mat-card-title{
    text-align: center;
}

.icon-image{
    width: 60%;
}